<SvgComponent @ref="svgref" Width="100" Height="100" />
<button @onclick="OnAddCircleButtonClicked">Add</button>

@code
{
    private SvgComponent svgref;

    private void OnAddCircleButtonClicked()
    {
        var circle = new SvgCircle
        {
            CenterX = 50,
            CenterY = 50,
            Radius = 25,
        };

        circle.OnClick = EventCallback.Factory.Create<MouseEventArgs>(circle, async (args) =>
        {
            svgref.Remove(circle);
        });

        svgref.Add(circle);
    }
}