@using System.Drawing

<div>
    <SvgComponent @ref="svg" Width="100" Height="100" />
</div>
<div>
    <div>
        <button type="button"
                class="btn btn-primary ml-4"
                @onclick="OnButtonClickedCalculateBoundingBox">
            Calculate the bounding box
        </button>
        <p class="mt-4">Bounding box: @(boundingBox.IsEmpty ? "Click the button to calculate" : boundingBox)</p>
    </div>
</div>

@code
{
    private RectangleF boundingBox;

    private SvgComponent svg;
    private SvgCircle circle;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            circle = new SvgCircle
            {
                CenterX = 50,
                CenterY = 50,
                Radius = 25,
            };

            svg.Add(circle);
        }
    }

    private async Task OnButtonClickedCalculateBoundingBox()
    {
        boundingBox = await svg.GetBoundingBox(circle);
    }
}
