@using System.Drawing

<div>
    <div>
        <SvgComponent @ref="svg" Width="100" Height="100" />
    </div>
    <div>
        <button type="button"
                class="btn btn-primary"
                @onclick="OnButtonClickedCalculateBoundingBox">
            Calculate the bounding box
        </button>
    </div>

    @if (!boundingBox.IsEmpty)
    {
        <div class="mt-4">
            <p>Boudning box: @boundingBox</p>
        </div>
    }
</div>

@code
{
    private RectangleF boundingBox;

    private SvgComponent svg;
    private SvgCircle circle;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            circle = new SvgCircle
            {
                CenterX = 50,
                CenterY = 50,
                Radius = 25,
            };

            svg.Add(circle);
        }
    }

    private async Task OnButtonClickedCalculateBoundingBox()
    {
        boundingBox = await svg.GetBoundingBox(circle);
    }
}
