@page "/getting-started"
@using SvgBlazor.Docs.Components

<ExampleTitle>Getting Started</ExampleTitle>
<h3>1. Package installation</h3>
<p>To install SvgBlazor use NuGet Package Manager or the following command:</p>
<b>dotnet add package SvgBlazor</b>
<h3>2. Imports</h3>
<p>Once the installation is complete, add SvgBlazor in _Imports.razor:</p>
<b>@("@using") SvgBlazor</b>