@using System.IO;

<h4>Code:</h4>

@((MarkupString)codeMarkup)

@code {
    private string codeMarkup;

    [Parameter]
    public string ItemName { get; set; }

    protected override void OnInitialized()
    {
        var resourceName = typeof(ExampleCode).Assembly.GetManifestResourceNames().FirstOrDefault(x => x.Contains($"{ItemName}Example.html"));
        using (var resourceStream = typeof(ExampleCode).Assembly.GetManifestResourceStream(resourceName))
        {
            using (var reader = new StreamReader(resourceStream))
            {
                codeMarkup = reader.ReadToEnd();
            }
        }
    }
}
