@using System.IO;

@((MarkupString)codeMarkup)

@code {
    private string codeMarkup;

    [Parameter]
    public string ItemName { get; set; }

    protected override void OnInitialized()
    {
        var resourceName = typeof(ExampleCode).Assembly.GetManifestResourceNames().FirstOrDefault(x => x.Contains($"{ItemName}Example.html"));
        if (resourceName is null)
        {
            codeMarkup = "<p>No code</p>";
            return;
        }

        using (var resourceStream = typeof(ExampleCode).Assembly.GetManifestResourceStream(resourceName))
        {
            using (var reader = new StreamReader(resourceStream))
            {
                codeMarkup = reader.ReadToEnd();
            }
        }
    }
}
