@using SvgBlazor.Docs.Interfaces
 
<SvgComponent @ref="svg" Width="Width" Height="Height" />

<h5>Code:</h5>
<ExampleCode ItemName="@GetItemName()"/>

@code {
    [Parameter]
    public IExampleCode ExampleCode { get; set; }

    [Parameter]
    public int Width { get; set; } = 200;

    [Parameter]
    public int Height { get; set; } = 200;

    private SvgComponent svg;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            ExampleCode?.Example(svg);
        }
    }

    protected string GetItemName()
    {
        return ExampleCode.GetType().Name;
    }
}
