@page "/elements/svg"

<SvgComponent @ref="svgref" Width="500" Height="500" OnClick="OnSvgClicked" />

<button @onclick="OnAddElement">Add random element</button>
<p>Click an element to remove</p>

@code {
    SvgComponent svgref;

    private void OnAddElement()
    {
        SvgElement c;

        var id = new Random().Next(0, 3);
        switch (id)
        {
            case 0:
                c = new SvgCircle()
                {
                    CenterX = new Random().Next(25, 475),
                    CenterY = new Random().Next(25, 475),
                    Radius = new Random().Next(5, 40),
                };
                break;
            case 1:
                c = new SvgLine()
                {
                    X1 = new Random().Next(25, 475),
                    Y1 = new Random().Next(25, 475),
                    X2 = new Random().Next(25, 475),
                    Y2 = new Random().Next(25, 475),
                };
                break;
            default:
                c = new SvgText()
                {
                    X = new Random().Next(25, 475),
                    Y = new Random().Next(25, 475),
                    Text = "Test",
                };
                break;
        }

        SvgContainer g = new SvgG();

        c.OnClick = EventCallback.Factory.Create<MouseEventArgs>(c, (args) =>
        {
            Console.WriteLine("Element clicked " + c.Tag());
            g.Remove(c);
        });

        var colors = new string[] {"red", "green", "blue", "yellow", "purple"};

        c.Fill = new SvgFill()
        {
            Fill = colors[new Random().Next(0, colors.Length)],
            Opacity = 0.5f,
        };

        g.Add(c);
        svgref.Add(g);
    }

    private void OnSvgClicked(MouseEventArgs args)
    {
        Console.WriteLine("Svg clicked");
    }
}
