@page "/elements/svg"
@using System.Drawing;
@using System.Timers;

<ExampleTitle>Svg</ExampleTitle>
<ElementDescription ElementType="@typeof(Svg)" />
<SvgComponent @ref="svgref" Width="500" Height="500" OnClick="OnSvgClicked" />
<button @onclick="OnAddElement">Add random element</button>
<p>Click an element to remove</p>
<ElementApiDocs ElementType="@typeof(Svg)" />

@code {
    class MyPolygon : SvgPolygon
    {
        List<PointF> _points = new();
        List<PointF> _vects = new();

        public void AddRandomPoint()
        {
            _points.Add(
                new PointF(new Random().Next(100, 300), new Random().Next(100, 300))
            );

            _vects.Add(
                new PointF(
                    ((float)new Random().NextDouble()) * 4f - 2f,
                    ((float)new Random().NextDouble()) * 4f - 2f));

            Points = _points;
        }

        public void UpdatePoints()
        {
            for (int i=0; i<_points.Count; i++)
            {
                float new_x = _points[i].X + _vects[i].X;
                float new_y = _points[i].Y + _vects[i].Y;

                if (new_x>500 || new_x < 0)
                {
                    _vects[i] = new PointF(_vects[i].X * -1f, _vects[i].Y);
                    new_x = _points[i].X + _vects[i].X;
                }

                if (new_y > 500 || new_y < 0)
                {
                    _vects[i] = new PointF(_vects[i].X, _vects[i].Y * -1);
                    new_y = _points[i].Y + _vects[i].Y;
                }
                _points[i] = new PointF(new_x, new_y);
            }

            Points = _points;
        }
    }

    SvgComponent svgref;
    private Timer _timer = new Timer(50.0);
    List<MyPolygon> _polygons = new();
    bool _clicked = false;

    protected override void OnInitialized()
    {
        var timer = new Timer();
        timer.Elapsed += new ElapsedEventHandler(UpdatePolygons);
        timer.Interval = 30;
        timer.Enabled = true;
    }

    private void OnAddElement()
    {
        var polygon = new MyPolygon();
        polygon.Stroke = new SvgStroke { Color = "black", Opacity = 0.5f, Width = 3f, };
        polygon.Fill = new SvgFill { Color = "#2e1", Opacity = 0.5f, };
        polygon.AddRandomPoint();
        polygon.AddRandomPoint();
        polygon.AddRandomPoint();
        _polygons.Add(polygon);
        svgref.Add(polygon);
    }

    private async void UpdatePolygons(object source, ElapsedEventArgs e)
    {
        Console.WriteLine("Update");

        foreach (var p in _polygons)
        {
            p.UpdatePoints();
        }

        await InvokeAsync(StateHasChanged);
    }

    private void OnSvgClicked(MouseEventArgs args)
    {
        Console.WriteLine("Svg clicked");
    }
}
