@page "/elements/g"
@using SvgBlazor.Docs.Components
@using SvgBlazor.Docs.Extensions

<ExampleTitle>G</ExampleTitle>
<p>@( typeof(SvgG).GetDocumentation() )</p>
<ExampleComponent ExampleCode="@(new GExample())" />
<ElementApiDocs ElementType="@typeof(SvgG)" />
