@page "/elements/g"
@using SvgBlazor.Docs.Components

<ExampleTitle>G</ExampleTitle>
<p>The SvgG class is responsible for providing the svg @("<g>") element.</p>
<ExampleComponent ExampleCode="@(new GExample())" />
<ElementApiDocs ElementType="@typeof(SvgG)" />
