@page "/elements/rect"
@using SvgBlazor.Docs.Components
@using SvgBlazor.Docs.Extensions

<ExampleTitle>Rect</ExampleTitle>
<p>@( typeof(SvgRect).GetDocumentation() )</p>
<ExampleComponent ExampleCode="@(new RectExample())" />
<ElementApiDocs ElementType="@typeof(SvgRect)" />
