@page "/elements/rect"
@using SvgBlazor.Docs.Components

<ExampleTitle>Rect</ExampleTitle>
<p>The SvgRect class is responsible for providing the svg @("<rect>") element.</p>
<ExampleComponent ExampleCode="@(new RectExample())" />
<ElementApiDocs ElementType="@typeof(SvgRect)" />
