@page "/elements/circle"
@using SvgBlazor.Docs.Components
@using SvgBlazor.Docs.Extensions

<ExampleTitle>Circle</ExampleTitle>
<p>@( typeof(SvgCircle).GetDocumentation() )</p>
<ExampleComponent Width=100 Height=100 ExampleCode="@(new CircleExample())" />
<ElementApiDocs ElementType="@typeof(SvgCircle)" />
