@page "/elements/circle"
@using SvgBlazor.Docs.Components

<ExampleTitle>Circle</ExampleTitle>
<p>The SvgCircle class is responsible for providing the svg @("<circle>") element.</p>
<ExampleComponent Width=100 Height=100 ExampleCode="@(new CircleExample())" />
<ElementApiDocs ElementType="@typeof(SvgCircle)" />
