@page "/elements/circle"
@using SvgBlazor.Docs.Components

<ExampleTitle>Circle</ExampleTitle>
<p>SvgCircle class is responsible for providing @("<circle>") elements</p>
<ExampleComponent Width=100 Height=100 ExampleCode="@(new CircleExample())" />
<p>Used parameters:</p>
<ul>
    <li>CenterX - the coordinate x of the center of the circle</li>
    <li>CenterY - the coordinate y of the center of the circle</li>
    <li>Radius - the radius of the circle</li>
    <li>Fill - the fill color of the circle</li>
</ul>
