@page "/elements/polygon"
@using SvgBlazor.Docs.Components
@using SvgBlazor.Docs.Extensions

<ExampleTitle>Polygon</ExampleTitle>
<p>@( typeof(SvgPolygon).GetDocumentation() )</p>
<ExampleComponent ExampleCode="@(new PolygonExample())" />
<ElementApiDocs ElementType="@typeof(SvgPolygon)" />
