@page "/elements/polygon"
@using SvgBlazor.Docs.Components

<ExampleTitle>Polygon</ExampleTitle>
<p>The SvgPolygon class is responsible for providing the svg @("<polygon>") element.</p>
<ExampleComponent ExampleCode="@(new PolygonExample())" />
<ElementApiDocs ElementType="@typeof(SvgPolygon)" />
