@page "/elements/path"
@using SvgBlazor.Docs.Components
@using SvgBlazor.Docs.Extensions

<ExampleTitle>Path</ExampleTitle>
<p>@( typeof(SvgPath).GetDocumentation() )</p>
<ExampleComponent ExampleCode="@(new PathExample())" />
<ElementApiDocs ElementType="@typeof(SvgPath)" />
