@page "/elements/path"
@using SvgBlazor.Docs.Components

<ExampleTitle>Path</ExampleTitle>
<p>The SvgPath class is responsible for providing the svg @("<path>") element.</p>
<ExampleComponent ExampleCode="@(new PathExample())" />
<ElementApiDocs ElementType="@typeof(SvgBlazor.Elements.SvgPath)" />
