@page "/elements/svgcomponent"
@inject IJSRuntime JS
@using SvgBlazor.Docs.Pages.Elements.SvgComponent.Examples

<ExampleTitle>SvgComponent</ExampleTitle>
<ElementDescription ElementType="@typeof(SvgComponent)" />
<p>SvgComponent can be created as follows:</p>
<ExampleCode ItemName="SvgComponentBasicInit" />

<h5>Adding elements</h5>
<SvgComponentSimpleAddExample />
<ExampleCode ItemName="SvgComponentSimpleAddExample" />

<p>List of available elements:</p>
<ul>
    <li><NavLink href="elements/circle">SvgCircle</NavLink></li>
    <li><NavLink href="elements/ellipse">SvgEllipse</NavLink></li>
    <li><NavLink href="elements/g">SvgG</NavLink></li>
    <li><NavLink href="elements/line">SvgLine</NavLink></li>
    <li><NavLink href="elements/path">SvgPath</NavLink></li>
    <li><NavLink href="elements/polygon">SvgPolygon</NavLink></li>
    <li><NavLink href="elements/rect">SvgRect</NavLink></li>
    <li><NavLink href="elements/text">SvgText</NavLink></li>
</ul>

<h5>Removing elements</h5>
<SvgComponentRemoveExample />
<p>Click an element to remove</p>
<ExampleCode ItemName="SvgComponentRemoveExample" />

<h5>BoudingBox calculation</h5>
<SvgComponentGetBoundingBoxExample />
<ExampleCode ItemName="SvgComponentGetBoundingBoxExample" />

<h5>Playground</h5>
<SvgComponentPlaygroundExample />
<p>Click an element to remove</p>
<ExampleCode ItemName="SvgComponentPlaygroundExample" />