<p>Action: @action</p>
<SvgComponent @ref="svgref"
              OnClick="OnClick"
              OnMouseDown="OnMouseDown"
              OnMouseMove="OnMouseMove"
              OnMouseUp="OnMouseUp"
              Width="100"
              Height="100" />

@code
{
    private string action;
    private SvgComponent svgref;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var circle = new SvgCircle
            {
                CenterX = 50,
                CenterY = 50,
                Radius = 25,
            };

            svgref.Add(circle);
        }
    }

    private void OnClick(MouseEventArgs args) => action = "OnClick";
    private void OnMouseDown(MouseEventArgs args) => action = "OnMouseDown";
    private void OnMouseMove(MouseEventArgs args) => action = "OnMouseMove";
    private void OnMouseUp(MouseEventArgs args) => action = "OnMouseUp";
}