<SvgComponent @ref="svgref" Width="100" Height="100" />

<p>
    @("<SvgComponent @ref=\"svgref\" Width=\"100\" Height=\"100\" />")
    @("@code")
    {
        private SvgComponent svgref;

        protected override void OnAfterRender(bool firstRender)
        {
            if (firstRender)
            {
                var circle = new SvgCircle
                {
                    CenterX = 50,
                    CenterY = 50,
                    Radius = 25,
                };

                svgref.Add(circle);
            }
        }
    }
</p>

@code
{
    private SvgComponent svgref;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var circle = new SvgCircle
            {
                CenterX = 50,
                CenterY = 50,
                Radius = 25,
            };

            svgref.Add(circle);
        }
    }
}
