<div>
    <button @onclick="OnAddCircleButtonClicked"
            disabled="@(circle is not null)">Add circle</button>
    <button @onclick="OnRemoveCircleButtonClicked"
            disabled="@(circle is null)">Remove circle</button>
</div>

<SvgComponent @ref="svgref" Width="100" Height="100" />

@code
{
    private SvgComponent svgref;
    private SvgCircle circle;

    private void OnAddCircleButtonClicked()
    {
        circle = new SvgCircle
        {
            CenterX = 50,
            CenterY = 50,
            Radius = 25,
        };

        svgref.Add(circle);
    }

    private void OnRemoveCircleButtonClicked()
    {
        svgref.Remove(circle);
        circle = null;
    }
}