@namespace SvgBlazor.Docs.Examples

<SvgComponent @ref="svgref" Width="500" Height="500" OnClick="OnSvgClicked" />

<button @onclick="OnAddCircle">Add circle</button>

@code {
    SvgComponent svgref;

    private void OnAddCircle()
    {
        SvgElement c;

        if (new Random().Next(0,2)==0)
        {
            c = new SvgCircle()
            {
                CenterX = new Random().Next(25, 475),
                CenterY = new Random().Next(25, 475),
                Radius = new Random().Next(10, 25)
            };
        }
        else
        {
            c = new SvgLine()
            {
                X1 = new Random().Next(0, 200),
                Y1 = new Random().Next(0, 200),
                X2 = new Random().Next(0, 200),
                Y2 = new Random().Next(0, 200)
            };
        }

        c.OnClick = EventCallback.Factory.Create<MouseEventArgs>(this, args =>
        {
            Console.WriteLine("Circle clicked");
            svgref.Remove(c);
        });

        SvgContainer g = new SvgG();
        g.Add(c);
        
        svgref.Add(g);
    }

    private void OnSvgClicked(MouseEventArgs args)
    {
        Console.WriteLine("Svg clicked");
    }
}