@page "/elements/ellipse"
@using SvgBlazor.Docs.Components
@using SvgBlazor.Docs.Extensions

<ExampleTitle>Ellipse</ExampleTitle>
<p>@( typeof(SvgEllipse).GetDocumentation() )</p>
<ExampleComponent ExampleCode="@(new EllipseExample())" />
<ElementApiDocs ElementType="@typeof(SvgEllipse)" />
