@page "/elements/line"
@using SvgBlazor.Docs.Components
@using SvgBlazor.Docs.Extensions

<ExampleTitle>Line</ExampleTitle>
<p>@( typeof(SvgLine).GetDocumentation() )</p>
<ExampleComponent ExampleCode="@(new LineExample())" />
<ElementApiDocs ElementType="@typeof(SvgLine)" />
