@page "/elements/line"
@using SvgBlazor.Docs.Components

<ExampleTitle>Line</ExampleTitle>
<p>The SvgLine class is responsible for providing the svg @("<line>") element.</p>
<ExampleComponent ExampleCode="@(new LineExample())" />
<ElementApiDocs ElementType="@typeof(SvgLine)" />
