<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SvgBlazor.Docs</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Start
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="elements/svgcomponent" Match="NavLinkMatch.All">
                SVG component
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="elements/svg" Match="NavLinkMatch.All">
                SVG
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="elements/circle" Match="NavLinkMatch.All">
                Circle
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="elements/ellipse" Match="NavLinkMatch.All">
                Ellipse
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="elements/line" Match="NavLinkMatch.All">
                Line
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="elements/polygon" Match="NavLinkMatch.All">
                Polygon
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="elements/rect" Match="NavLinkMatch.All">
                Rect
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="elements/g" Match="NavLinkMatch.All">
                G
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="elements/text" Match="NavLinkMatch.All">
                Text
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="attributes/stroke" Match="NavLinkMatch.All">
                Stroke
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="attributes/fill" Match="NavLinkMatch.All">
                Fill
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="elements/path" Match="NavLinkMatch.All">
                Path
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="elements/svgvalue" Match="NavLinkMatch.All">
                SvgValue
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="elements/svguse" Match="NavLinkMatch.All">
                SvgUse
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
